<a href="https://colab.research.google.com/github/shikhar23091999/Bellabeat-Case-Study/blob/main/Bellabeat_Case_Study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import datetime as dt
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick

In [16]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [17]:
def read(name):
    return pd.read_csv(f'/content/drive/MyDrive/Google Capstone /Fitabase Data 4.12.16-5.12.16/{name}.csv')

In [42]:
# Daily
activity_data = read('dailyActivity_merged')
sleepday_data = read('sleepDay_merged')
weight_data = read('weightLogInfo_merged')

# Hourly
calhour_data = read('hourlyCalories_merged')
stephour_data = read('hourlySteps_merged')

# Minutes
calmin_data = read('minuteCaloriesNarrow_merged')
intmin_data = read('minuteIntensitiesNarrow_merged')
mets_data = read('minuteMETsNarrow_merged')
sleepmin_data = read('minuteSleep_merged')
stepmin_data = read('minuteStepsNarrow_merged')

# Seconds
heart_data = read('heartrate_seconds_merged')

In [43]:
sleepday_data

             Id               SleepDay  ...  TotalMinutesAsleep  TotalTimeInBed
0    1503960366  4/12/2016 12:00:00 AM  ...                 327             346
1    1503960366  4/13/2016 12:00:00 AM  ...                 384             407
2    1503960366  4/15/2016 12:00:00 AM  ...                 412             442
3    1503960366  4/16/2016 12:00:00 AM  ...                 340             367
4    1503960366  4/17/2016 12:00:00 AM  ...                 700             712
..          ...                    ...  ...                 ...             ...
408  8792009665  4/30/2016 12:00:00 AM  ...                 343             360
409  8792009665   5/1/2016 12:00:00 AM  ...                 503             527
410  8792009665   5/2/2016 12:00:00 AM  ...                 415             423
411  8792009665   5/3/2016 12:00:00 AM  ...                 516             545
412  8792009665   5/4/2016 12:00:00 AM  ...                 439             463

[413 rows x 5 columns]

In [52]:
sleepday_data['TotalTimeAwake'] = sleepday_data.TotalTimeInBed - sleepday_data.TotalMinutesAsleep
sleepday_data['ActivityDate'] = sleepday_data['SleepDay'].apply(lambda x: x[:9].strip())

In [54]:
weight_data

            Id                   Date  ...          LogId  ActivityDate
0   1503960366   5/2/2016 11:59:59 PM  ...  1462233599000      5/2/2016
1   1503960366   5/3/2016 11:59:59 PM  ...  1462319999000      5/3/2016
2   1927972279   4/13/2016 1:08:52 AM  ...  1460509732000     4/13/2016
3   2873212765  4/21/2016 11:59:59 PM  ...  1461283199000     4/21/2016
4   2873212765  5/12/2016 11:59:59 PM  ...  1463097599000     5/12/2016
..         ...                    ...  ...            ...           ...
62  8877689391    5/6/2016 6:43:35 AM  ...  1462517015000      5/6/2016
63  8877689391    5/8/2016 7:35:53 AM  ...  1462692953000      5/8/2016
64  8877689391    5/9/2016 6:39:44 AM  ...  1462775984000      5/9/2016
65  8877689391   5/11/2016 6:51:47 AM  ...  1462949507000     5/11/2016
66  8877689391   5/12/2016 6:42:53 AM  ...  1463035373000     5/12/2016

[67 rows x 9 columns]

In [53]:
weight_data['ActivityDate'] = weight_data['Date'].apply(lambda x: x[:9].strip())

In [63]:
sleepday_data.drop(['SleepDay'], axis=1, inplace=True)
weight_data.drop(['Date', 'LogId'], axis=1, inplace=True)

In [64]:
daily_data = pd.merge(activity_data, sleepday_data,how='left')
daily_data = pd.merge(activity_data, weight_data,how='left')

In [65]:
daily_data.head()

           Id ActivityDate  TotalSteps  ...  Fat  BMI  IsManualReport
0  1503960366    4/12/2016       13162  ...  NaN  NaN             NaN
1  1503960366    4/13/2016       10735  ...  NaN  NaN             NaN
2  1503960366    4/14/2016       10460  ...  NaN  NaN             NaN
3  1503960366    4/15/2016        9762  ...  NaN  NaN             NaN
4  1503960366    4/16/2016       12669  ...  NaN  NaN             NaN

[5 rows x 20 columns]