<a href="https://colab.research.google.com/github/shikhar23091999/Bellabeat-Case-Study/blob/main/Bellabeat_Case_Study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import plotly.express as px
import datetime as dt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/Google Capstone /Fitabase Data 4.12.16-5.12.16/dailyActivity_merged.csv")

In [ ]:
data.head()

           Id ActivityDate  ...  SedentaryMinutes  Calories
0  1503960366    4/12/2016  ...               728      1985
1  1503960366    4/13/2016  ...               776      1797
2  1503960366    4/14/2016  ...              1218      1776
3  1503960366    4/15/2016  ...               726      1745
4  1503960366    4/16/2016  ...               773      1863

[5 rows x 15 columns]